<div class="row mx-0">
    <div class="col-md-6">
        <kendo-card class="w-100 bg-transparent border border-dark">
            <kendo-card-header class="border-dark">
                <span class="fw-bold">Your Info</span>
            </kendo-card-header>
            <kendo-card-body>
                <div class="row mx-0 mb-2">
                    <div class="col-md-4 text-end">
                        First Name:
                    </div>
                    <div class="col-md-8">
                        {{userInfo?.f_name}}
                    </div>
                </div>
                <div class="row mx-0 mb-2">
                    <div class="col-md-4 text-end">
                        Last Name:
                    </div>
                    <div class="col-md-8">
                        {{userInfo?.l_name}}
                    </div>
                </div>
                <div class="row mx-0 mb-2">
                    <div class="col-md-4 text-end">
                        Address 1:
                    </div>
                    <div class="col-md-8">
                        {{userInfo?.address}}
                    </div>
                </div>
                <div class="row mx-0 mb-2">
                    <div class="col-md-4 text-end">
                        Address 2:
                    </div>
                    <div class="col-md-8">
                        {{userInfo?.address_2}}
                    </div>
                </div>
                <div class="row mx-0 mb-2">
                    <div class="col-md-4 text-end">
                        Gender:
                    </div>
                    <div class="col-md-8">
                        {{userInfo?.gender}}
                    </div>
                </div>
                <div class="row mx-0 mb-2">
                    <div class="col-md-4 text-end">
                        Country:
                    </div>
                    <div class="col-md-8">
                        {{userInfo?.country_code}}
                    </div>
                </div>
                <div class="row mx-0 mb-2">
                    <div class="col-md-4 text-end">
                        State:
                    </div>
                    <div class="col-md-8">
                        {{userInfo?.state_code}}
                    </div>
                </div>
                <div class="row mx-0 mb-2">
                    <div class="col-md-4 text-end">
                        City:
                    </div>
                    <div class="col-md-8">
                        {{userInfo?.city}}
                    </div>
                </div>
                <div class="row mx-0 mb-2">
                    <div class="col-md-4 text-end">
                        Zip:
                    </div>
                    <div class="col-md-8">
                        {{userInfo?.zip}}
                    </div>
                </div>
                <div class="row mx-0 mb-2">
                    <div class="col-md-4 text-end">
                        Ph No:
                    </div>
                    <div class="col-md-8">
                        {{userInfo?.ph_no}}
                    </div>
                </div>
                <div class="row mx-0 mb-2">
                    <div class="col-md-4 text-end">
                        Email:
                    </div>
                    <div class="col-md-8">
                        {{userInfo?.email_id}}
                    </div>
                </div>
            </kendo-card-body>
        </kendo-card>
    </div>
    <div class="col-md-6">

    </div>
</div>